<h1>Submit youtube video ID here for it to appear on dashboard</h1>


<%= label_tag "videoid", "Video ID e.g. TZEXR3aZ4Yk:" %>
<%= text_field_tag "videoid" %><br />
<%= label_tag "author", "Video Author:" %>
<%= text_field_tag "author" %>
<br />
<button id="submit_video">Submit</button>
