<aside>

  <div class="countdown">
    <time>01:16:36:45</time>
    <!--<time>1d:12hr:36min:45sec</time>-->
  </div>

  <div class="stats">
  	<p><span>300</span> drinks</p>
  	<p><span>4</span> drinks fdhsoihf dsihf odhfoidsh fsh</p>
  	<p><span>2938</span> drinks drunk</p>
  	<p><span>432</span> something other than</p>
  	<p><span>78</span> fdihfi hfdh dihfdi hfdi hdf fd</p>
  </div>

</aside>