<aside>

  <div class="countdown">
    <time>01:16:36:45</time>
    <!--<time>1d:12hr:36min:45sec</time>-->
  </div>

  <div class="counter drinks">
    <p><span>356</span> drinks drunk</p>
  </div>

  <div class="counter sandwiches">
    <p><span>186</span> sandwiches eaten</p>
  </div>

</aside>