<section role="main">

<!--   <section>
    <marquee>This is super important!! It's a frekkin marquee!</marquee>
  </section> -->
  <div id="tweets">
  </div>

  <!--<article class="picture instagram">
    <figure>
      <img src="http://distilleryimage5.ak.instagram.com/8f48c7e4e65611e2a67b22000a9e0056_7.jpg" width="612" height="612" />
      <figcaption>Something something... hacked! #hackedhashtag</figcaption>
    </figure>
  </article>-->
  <div id="flickr">
<!--     <article class="picture flickr">
      <figure>
        <img src="http://static.flickr.com/2893/9246344781_ee6a885372_c.jpg" alt="I'm a future All Black">
        <figcaption>Uploaded by USERNAME</figcaption>
      </figure>
    </article>
 -->
<!--     <article class="text notification">
      <p>Listen up! This is really important!</p>
    </article> -->

    <!--<article class="video instagram">
      <video src="http://distilleryvesper8-16.ak.instagram.com/308cbc32e7b011e2980e22000ae90a1f_101.mp4" type="video/mp4"></video>
    </article>-->

<!--     <article class="video youtube">
      <iframe width="400" src="http://www.youtube.com/embed/S8zhmiS-1kw?rel=0" frameborder="0" allowfullscreen></iframe> -->
    </article>
  </div>

</section>

