<section role="main">

  <section>
    <marquee>This is super important!! It's a frekkin marquee!</marquee>
  </section>
  <div id="tweets">
  </div>

  <!--<article class="picture instagram">
    <figure>
      <img src="http://distilleryimage5.ak.instagram.com/8f48c7e4e65611e2a67b22000a9e0056_7.jpg" width="612" height="612" />
      <figcaption>Something something... hacked! #hackedhashtag</figcaption>
    </figure>
  </article>-->
  <div>
    <article class="picture flickr">
      <figure>
        <img src="http://blogs.independent.co.uk/wp-content/uploads/2012/11/google-store.jpg" alt="I'm a future All Black">
        <figcaption>Uploaded by USERNAME</figcaption>
      </figure>
    </article>
    <article class="picture flickr">
      <figure>
        <img src="http://i.telegraph.co.uk/multimedia/archive/01842/landscape-rainbow_1842437i.jpg" alt="I'm a future All Black">
        <figcaption>Uploaded by USERNAME</figcaption>
      </figure>
    </article>
    <article class="picture flickr">
      <figure>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTSNqG0cPDmaZdC-zAL2cCFr8CalzQtJ8p8DRzxLZty8mVTFPz9" alt="I'm a future All Black">
        <figcaption>Uploaded by USERNAME</figcaption>
      </figure>
    </article>
    <article class="picture flickr">
      <figure>
        <img src="http://underscoopfire.com/wp-content/uploads/2013/03/masters-of-the-universe-lego-minifigures.jpg" alt="I'm a future All Black">
        <figcaption>Uploaded by USERNAME</figcaption>
      </figure>
    </article>

    <!-- <article class="text notification">
      <p>Listen up! This is really important!</p>
    </article> -->

    <!--<article class="video instagram">
      <video src="http://distilleryvesper8-16.ak.instagram.com/308cbc32e7b011e2980e22000ae90a1f_101.mp4" type="video/mp4"></video>
    </article>-->

    <!-- <article class="video youtube">
      <iframe width="400" src="http://www.youtube.com/embed/S8zhmiS-1kw?rel=0" frameborder="0" allowfullscreen></iframe>
    </article> -->
  </div>

</section>

