<!DOCTYPE html>
<html>
<head>
    <!--char set (lang above)-->
    <meta charset="utf-8">
    
    <!--device/browser shizzle-->  
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">

    <!--meta content-->
    <meta name="author" content="The Lab by O2">
    <meta name="copyright" content="Built by The Lab, United Kingdom, 2013">
    <title>Hacked.io Screen</title>
    <link type="text/css" href="style.css" rel="stylesheet" media="screen" />

</head>
<body>
  <div class="wrapper">
    <header>
      <img src="images/hacked-logo.png" />
    </header>

    <section role="main">

      <article class="text tweet">
        <blockquote>Hacked/io is freakkin awesome right now! #hackedhashtag</blockquote>
      </article>

      <article class="picture instagram">
        <figure>
          <img src="http://distilleryimage5.ak.instagram.com/8f48c7e4e65611e2a67b22000a9e0056_7.jpg" width="612" height="612" />
          <figcaption>Something something... hacked! #hackedhashtag</figcaption>
        </figure>
      </article>

      <article class="picture flickr">
        <figure>
          <img src="http://farm3.staticflickr.com/2860/9145281558_996fdb4c46_o.jpg" width="612" height="612" alt="I'm a future All Black">
          <figcaption>Something something... hacked! #hackedhashtag</figcaption>
        </figure>
      </article>

      <article class="text notification">
        <p>Listen up! This is really important!</p>
      </article>

      <article class="video instagram">
        <video src="http://distilleryvesper8-16.ak.instagram.com/308cbc32e7b011e2980e22000ae90a1f_101.mp4" type="video/mp4"></video>
      </article>

      <article class="video youtube">
        <iframe width="560" height="315" src="http://www.youtube.com/embed/S8zhmiS-1kw?rel=0" frameborder="0" allowfullscreen></iframe>
      </article>
    </section>

    <aside>

      <div class="countdown">
        <time>01:16:36:45</time>
        <!--<time>1d:12hr:36min:45sec</time>-->
      </div>

      <div class="counter drinks">
        <p><span>356</span> drinks drunk</p>
      </div>

      <div class="counter sandwiches">
        <p><span>186</span> sandwiches eaten</p>
      </div>

    </aside>

  <footer>
    <p>&copy; Built by <a href="https://thelab.o2.com/">The Lab</a> @ o2 2013</p>
  </footer>

  </div>
</body>
</html>