//VARIABLE MIXIN ANIMATION DECLARATIONS
/*colours*/
$blue:#2e3192;
$pink:#ee145b;
$purple:#a864a9;
$white:darken(#ffffff,1%);
$black:darken($blue,20%);
/*fonts*/
@font-face {
    font-family: 'unicod_sansregular';
    src: url('https://s3-eu-west-1.amazonaws.com/hackedio-dashboard/fonts/unicod-webfont.eot');
    src: url('https://s3-eu-west-1.amazonaws.com/hackedio-dashboard/fonts/unicod-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://s3-eu-west-1.amazonaws.com/hackedio-dashboard/fonts/unicod-webfont.woff') format('woff'),
         url('https://s3-eu-west-1.amazonaws.com/hackedio-dashboard/fonts/unicod-webfont.ttf') format('truetype'),
         url('https://s3-eu-west-1.amazonaws.com/hackedio-dashboard/fonts/unicod-webfont.svg#unicod_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'unicod_sansmedium';
    src: url('https://s3-eu-west-1.amazonaws.com/hackedio-dashboard/fonts/unicod_medium-webfont.eot');
    src: url('https://s3-eu-west-1.amazonaws.com/hackedio-dashboard/fonts/unicod_medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://s3-eu-west-1.amazonaws.com/hackedio-dashboard/fonts/unicod_medium-webfont.woff') format('woff'),
         url('https://s3-eu-west-1.amazonaws.com/hackedio-dashboard/fonts/unicod_medium-webfont.ttf') format('truetype'),
         url('https://s3-eu-west-1.amazonaws.com/hackedio-dashboard/fonts/unicod_medium-webfont.svg#unicod_sansmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'unicod_sansbold';
    src: url('https://s3-eu-west-1.amazonaws.com/hackedio-dashboard/fonts/unicod_bold-webfont.eot');
    src: url('https://s3-eu-west-1.amazonaws.com/hackedio-dashboard/fonts/unicod_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://s3-eu-west-1.amazonaws.com/hackedio-dashboard/fonts/unicod_bold-webfont.woff') format('woff'),
         url('https://s3-eu-west-1.amazonaws.com/hackedio-dashboard/fonts/unicod_bold-webfont.ttf') format('truetype'),
         url('https://s3-eu-west-1.amazonaws.com/hackedio-dashboard/fonts/unicod_bold-webfont.svg#unicod_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
$fontSize:1em;
$smallFont:$fontSize*0.8;
$bigFont:$fontSize*3;

/*grid*/
$rightpanel:24%;
$leftpanel:76%;
$gutter:20px;
$screenWidth:1920px;
$screenHeight:1080px;


/*animations*/
@-webkit-keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
}
@-webkit-keyframes blink {
	0% {opacity:0;}
	19% {opacity:0;}
	20% {opacity:1;}
	100% {opacity:1;}
}

$twitterImgSize:80px;

//CSS STARTS HERE--------------------------------------------------
/*clear all the things*/
html,body, div, header, span, section, article, blockquote, figure, img, figcaption, h5, p, video, iframe, aside, time, footer, a {margin:0;padding:0;outline:0;border:none;font-size:100%;}

body {
	background-image:
		-webkit-linear-gradient(left, $white 68%, $blue 68%);
	;
	font-family:'unicod_sansregular' sans-serif;
	color:$black; line-height:1.4;
	&>div {position:relative; overflow:hidden;}
}

b {font-family:'unicod_sansmedium';}

//outer (canvas)
.wrapper {position:relative; height:$screenHeight; overflow:hidden;}
header, section[role="main"], aside, footer {padding:$gutter; box-sizing:border-box;}
header, aside, footer {width:$rightpanel; color:$white;}
//positioning
aside, footer {position:absolute; right:0px;}
aside {top:440px;}
footer {bottom:0px;}

//styling
header {
	float:right;
	img {width:92%; height:auto; display:block; margin:0px auto;}
}
aside {
	font-family:'unicod_sansmedium';
	div {
		padding-bottom:$gutter*2;
	}
	.countdown time {
		display:block;
		font-size:$bigFont*1.2; text-align:center;
	}
	.stats {
		p {
			margin-bottom:$gutter;
			font-size:$fontSize;
			span {
				font-size:$bigFont;
			}
		}
	}
}
footer {
	a {color:$purple;}
}

/*notification*/
#notification {
	padding:$gutter/2;
	box-sizing:border-box;
	background:$pink;
	marquee {
		font-size:$bigFont;
		color:white;
		-webkit-animation:blink 2s infinite;
	}
}

section[role="main"] {
	width:$leftpanel; height:$screenHeight;
	padding:0px;
	overflow:hidden;
	float:left;
	text-align:right;
//	background-image:
//		-webkit-linear-gradient(left, hsla(280,100%,100%,1) 45px, transparent 551px, transparent 552px, hsla(280,100%,100%,1) 652px),
//		-webkit-linear-gradient(top, hsla(230,100%,100%,0), hsla(230,100%,50%,0.5), hsla(230,100%,100%,0))
//	;
	/*columns*/
	&>div {
		width:50%;
		float:left;
		padding:$gutter;
		box-sizing:border-box;
		&:nth-of-type(2) {float:right;}
		article {
			overflow:hidden;
			padding:$gutter;
			-webkit-animation:fadeIn 1s linear;
			font-size:$fontSize;
		}
		.tweet {
			background-image:
				-webkit-linear-gradient(bottom, hsla(280,100%,100%,1) 1px, transparent 1px, transparent 2px, hsla(280,100%,100%,1) 2px),
				-webkit-linear-gradient(left, hsla(230,100%,100%,0), hsla(280,100%,50%,0.5), hsla(230,100%,100%,0))
			;
			time {
				float:left;
				font-size:$smallFont; /*font-family:'helvetica' sans-serif;*/
				color:$purple;
			}
			img {
				float:right; display:block;
				width:$twitterImgSize; height:auto;
				border:1px solid $black;
				box-shadow:
					0px 0px 1px 0px $black,
					0px 0px 0px 3px $white,
					0px 0px 0px 5px transparentize($purple,0.5)
				;
			}
			div {margin-right:$twitterImgSize+$gutter;}
			h5, blockquote {font-size:$fontSize;}
			h5 {
				margin:-4px 0px 4px;
				color:$purple;
				b {color:$black;}
			}
			blockquote {font-family:'helvetica' sans-serif;}
		}
	}
}

#flickr_youtube {
	overflow:hidden;
	height:$screenHeight;
	background-image:
		-webkit-linear-gradient(left, transparent 3px, hsla(280,100%,100%,1) 4px),
		-webkit-linear-gradient(top, hsla(230,100%,100%,0), hsla(230,100%,50%,0.5), hsla(230,100%,100%,0))
	;
	-webkit-column-count: 3;
    column-count: 3;
	article {
		padding:$gutter;
		float:left;
		box-sizing:border-box;
		img, iframe {
			display:block;
			width:100%; height:auto;
			box-sizing:border-box;
			border:1px solid $black;
			box-shadow:
				0px 0px 1px 0px $black,
				0px 0px 0px 3px $white,
				0px 0px 0px 5px transparentize($blue,0.5)
			;
		}
		figcaption, p {
			padding-top:$gutter/2;
			font-size:$smallFont;
			span {color:$blue;}
		}
	}
}





