//VARIABLE MIXIN ANIMATION DECLARATIONS
/*colours*/
$blue:#2e3192;
$pink:#ee145b;
$purple:#a864a9;
$white:darken(#ffffff,1%);
$black:darken($blue,20%);
/*fonts*/
@font-face {
    font-family: 'unicod_sansregular';
    src: url('https://s3-eu-west-1.amazonaws.com/hackedio-dashboard/fonts/unicod-webfont.eot');
    src: url('https://s3-eu-west-1.amazonaws.com/hackedio-dashboard/fonts/unicod-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://s3-eu-west-1.amazonaws.com/hackedio-dashboard/fonts/unicod-webfont.woff') format('woff'),
         url('https://s3-eu-west-1.amazonaws.com/hackedio-dashboard/fonts/unicod-webfont.ttf') format('truetype'),
         url('https://s3-eu-west-1.amazonaws.com/hackedio-dashboard/fonts/unicod-webfont.svg#unicod_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'unicod_sansmedium';
    src: url('https://s3-eu-west-1.amazonaws.com/hackedio-dashboard/fonts/unicod_medium-webfont.eot');
    src: url('https://s3-eu-west-1.amazonaws.com/hackedio-dashboard/fonts/unicod_medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://s3-eu-west-1.amazonaws.com/hackedio-dashboard/fonts/unicod_medium-webfont.woff') format('woff'),
         url('https://s3-eu-west-1.amazonaws.com/hackedio-dashboard/fonts/unicod_medium-webfont.ttf') format('truetype'),
         url('https://s3-eu-west-1.amazonaws.com/hackedio-dashboard/fonts/unicod_medium-webfont.svg#unicod_sansmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'unicod_sansbold';
    src: url('https://s3-eu-west-1.amazonaws.com/hackedio-dashboard/fonts/unicod_bold-webfont.eot');
    src: url('https://s3-eu-west-1.amazonaws.com/hackedio-dashboard/fonts/unicod_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://s3-eu-west-1.amazonaws.com/hackedio-dashboard/fonts/unicod_bold-webfont.woff') format('woff'),
         url('https://s3-eu-west-1.amazonaws.com/hackedio-dashboard/fonts/unicod_bold-webfont.ttf') format('truetype'),
         url('https://s3-eu-west-1.amazonaws.com/hackedio-dashboard/fonts/unicod_bold-webfont.svg#unicod_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
$fontSize:1em;
$smallFont:$fontSize*0.8;
$bigFont:$fontSize*1.6;

/*grid*/
$rightpanel:33%;
$leftpanel:66%;
$gutter:2%;


/*animations*/
@-webkit-keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
}
@-webkit-keyframes blink {
	0% {opacity:0;}
	19% {opacity:0;}
	20% {opacity:1;}
	100% {opacity:1;}
}

$twitterImgSize:73px;

//CSS STARTS HERE--------------------------------------------------
/*clear all the things*/
html,body, div, header, span, section, article, blockquote, figure, img, figcaption, p, video, iframe, aside, time, footer, a {margin:0;padding:0;outline:0;border:none;font-size:100%;}

body {
	background-image:
		-webkit-linear-gradient(left, $white $leftpanel, $blue $rightpanel);
	;
	font-family:'unicod_sansregular' sans-serif;
	color:$black;
	&>div {position:relative; overflow:hidden;}
}

header, section[role="main"], aside, footer {padding:$gutter; box-sizing:border-box;}

header, aside, footer {
	width:$rightpanel;
	float:left;
	margin-left:$leftpanel;
	color:$white;
}
header {
	img {width:50%; height:auto; display:block; margin:0px auto;}
}
aside {
	font-family:'unicod_sansmedium';
	font-size:$fontSize;
	div {
		padding-bottom:$gutter*2;
	}
	.countdown {
		font-size:$fontSize*1.5;
	}
	.counter {
		span {font-size:$fontSize*1.5;}
	}
}
footer {
	a {color:$purple;}
}

section[role="main"] {
	overflow:hidden;
	position:fixed;
	bottom:0px;
	width:$leftpanel;
	float:left;
	text-align:right;
	/*notification*/
	&>section {
		padding:$gutter;
		background:$pink;
		marquee {
			font-size:$bigFont;
			color:white;
			-webkit-animation:blink 2s infinite;
		}
	}
	/*columns*/
	&>div {
		width:50%; float:left;
		padding:$gutter;
		box-sizing:border-box;
		article {
			overflow:hidden;
			padding:$gutter;
			-webkit-animation:fadeIn 1s linear;
			font-size:$fontSize;
		}
		.tweet {
			time {float:left; font-size:$smallFont; color:$purple;}
			img, h5, blockquote {float:right; display:block;}
			h5, blockquote {font-size:$fontSize; margin-right:$twitterImgSize+20px;}
		}
	}
}






